<div *ngIf="loader"  class="cont-loader">
  <div class="loader-bry"></div>
</div>
<div *ngIf="!loader" class="px-4">
  <div class="row">
    <div class="col-10 item-top">Lista Usuários
    </div>
    <div class="col-2 item-top">
      <button (click)="createUser()" class="btn btn-primary btn-new shadow">Novo</button>
    </div>
  </div>
  <div class="shadow">
    <div class="row head-dark shadow" style="padding: 6px;">
      <div class="col-1">id</div>
      <div class="col-2">login</div>
      <div class="col-2">nome</div>
      <div class="col-2">cpf</div>
      <div class="col-3">email</div>
      <div class="col-2">ações</div>
    </div>
    <div class="row b-list" *ngFor="let user of users; let i = index">
      <div class="col-1">{{user.id}}</div>
      <div class="col-2">{{user.username}}</div>
      <div class="col-2">{{user.name}}</div>
      <div class="col-2">{{user.cpf}}</div>
      <div class="col-3">{{user.email}}</div>
      <div class="col-2">
        <button class="btn btn-primary f-10 mr-sm-3" (click)="viewUser(user.id)">Visualizar</button>
        <button class="btn btn-secondary f-10" (click)="deleteUser(user.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>
