<div *ngIf="loader" class="cont-loader">
  <div class="loader-bry"></div>
</div>


<div *ngIf="!loader" class="px-4">
  <div class="row">
    <div class="col-10 item-top">
      <span *ngIf="idUser">Perfil Usuário</span>
      <span *ngIf="!idUser">Novo Usuário</span>
    </div>
    <div class="col-2 item-top">
      <div *ngIf="idUser" class="btn-group">
        <button class="btn btn-secondary mx-2" (click)="deleteUser()">Excluir</button>
      </div>
    </div>
  </div>



  <div class="card shadow">
    <div class="card-body">

      <form (submit)="saveForm()">
        <div class="row">
          <div class="form-group col-4">
            <label for="user-username">Usuário</label>
            <input name="username" type="text" class="form-control" [(ngModel)]="userForm.username" id="user-username"
                   placeholder="Usuário">
          </div>
          <div class="form-group col-4">
            <label for="user-password">Senha</label>
            <input name="password" type="password" class="form-control" [(ngModel)]="userForm.password"
                   id="user-password"
                   placeholder="Senha">
          </div>
          <div class="form-group col-4">
            <label for="user-name">Nome</label>
            <input name="name" type="text" class="form-control" [(ngModel)]="userForm.name" id="user-name"
                   placeholder="Nome">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-4">
            <label for="user-email">Email</label>
            <input name="email" type="text" class="form-control" [(ngModel)]="userForm.email" id="user-email"
                   placeholder="Email">
          </div>
          <div class="form-group col-4">
            <label for="user-address">Endereço</label>
            <input name="address" type="text" class="form-control" [(ngModel)]="userForm.address" id="user-address"
                   placeholder="Endereço">
          </div>
          <div class="form-group col-4">
            <label for="user-cpf">CPF</label>
            <input name="cpf" type="text" class="form-control" [(ngModel)]="userForm.cpf" id="user-cpf"
                   placeholder="CPF">
          </div>

        </div>

        <div *ngIf="organizations">
          <hr>
          <div *ngFor="let organizationOfUser of organizationForm; let i = index" class="row">
            <div class="form-group col-6">
              <label>Empresa</label>
              <ng-select name="{{organizationForm[i]}}"
                         [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="organizationForm[i]"

              >
                <ng-option *ngFor="let opt of organizations" [value]="opt.id">
                  {{opt.name}}
                </ng-option>

              </ng-select>
            </div>
            <div class="col-4 row align-items-center ">
              <div class="btn btn-secondary mx-2 pointer" (click)="addSelectOrganization()">adicionar</div>
              <div class="btn btn-secondary mx-2 pointer" *ngIf="i > 0" (click)="subSelectOrganization(i)">remover</div>
            </div>
          </div>
        </div>




        <div class="row justify-content-md-center my-3">
          <div class="btn-group">
            <a [routerLink]="['/users']" class="btn btn-secondary mx-2">Voltar</a>
          </div>
          <div class="btn-group">
            <input type="submit" value="Salvar" class="btn btn-primary">
          </div>
        </div>




      </form>

    </div>
  </div>
</div>
