@import url("~@ng-select/ng-select/themes/material.theme.css");

.ng-select.custom {
  border:2px solid;
  min-height: 10px;
  border-radius: 10px;
}
.ng-select.custom .ng-control  {
  min-height: 10px;
  border-radius: 10px;
}
