<div *ngIf="loader" class="cont-loader">
  <div class="loader-bry"></div>
</div>


<div *ngIf="!loader" class="px-4">
  <div class="row">
    <div class="col-10 item-top">
      <span>Perfil Empresa</span>
    </div>
    <div class="col-2 item-top">
      <div *ngIf="idOrganization" class="btn-group">
        <button class="btn btn-secondary mx-2" (click)="deleteOrganization()">Excluir</button>
      </div>
    </div>
  </div>

  <div *ngIf="!loader" class="card shadow">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-3">
          <label class="label">Nome da empresa</label>
          <div>{{organization.name}}</div>
        </div>
        <div class="form-group col-3">
          <label class="label">CNPJ</label>
          <div>{{organization.cnpj}}</div>
        </div>
        <div class="form-group col-3">
          <label class="label">Endereço</label>
          <div>{{organization.address}}</div>
        </div>
      </div>

      <div *ngIf="listUsers">
        <hr>
        <h5>Usuários</h5>
      </div>
      <div *ngFor="let user of organization.users" class="row">
        <div class="form-group col-4">
          <label class="label">Nome</label>
          <div>{{user.name}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">Email</label>
          <div>{{user.email}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">Usuário</label>
          <div>{{user.username}}</div>
        </div>
      </div>

      <div class="row justify-content-md-center my-3">
        <div class="btn-group">
          <a [routerLink]="['/organizations']" class="btn btn-secondary mx-2">Voltar</a>
        </div>
        <div class="btn-group">
          <a href="/organizations/{{organization.id}}/edit/" class="btn btn-secondary mx-2">Editar</a>
        </div>
      </div>

    </div>


  </div>
</div>
