<div *ngIf="loader" class="cont-loader">
  <div class="loader-bry"></div>
</div>


<div *ngIf="!loader" class="px-4">
  <div class="row">
    <div class="col-10 item-top">
      <span>Perfil Usuário</span>
    </div>
    <div class="col-2 item-top">
      <div *ngIf="idUser" class="btn-group">
        <button class="btn btn-secondary mx-2" (click)="deleteUser(user.id)">Excluir</button>
      </div>
    </div>
  </div>

  <div *ngIf="!loader" class="card shadow">
    <div class="card-body">
      <div class="row">
        <div class="form-group col-4">
          <label class="label">Usuário</label>
          <div>{{user.username}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">Nome</label>
          <div>{{user.name}}</div>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-4">
          <label class="label">Email</label>
          <div>{{user.email}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">Endereco</label>
          <div>{{user.address}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">CPF</label>
          <div>{{user.cpf}}</div>
        </div>
      </div>
      <div *ngIf="listOrganizations">
        <hr>
        <h5>Empresas</h5>
      </div>
      <div *ngFor="let organization of user.organizations" class="row">
        <div class="form-group col-4">
          <label class="label">Nome Empresa</label>
          <div>{{organization.name}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">Endereco Empresa</label>
          <div>{{organization.address}}</div>
        </div>
        <div class="form-group col-4">
          <label class="label">CNPJ</label>
          <div>{{organization.cnpj}}</div>
        </div>
      </div>

      <div class="row justify-content-md-center my-3">
        <div class="btn-group">
          <a [routerLink]="['/users']" class="btn btn-secondary mx-2">Voltar</a>
        </div>
        <div class="btn-group">
          <a href="/users/{{user.id}}/edit/" class="btn btn-secondary mx-2">Editar</a>
        </div>
      </div>

    </div>


  </div>
</div>
