<div *ngIf="loader"  class="cont-loader">
  <div class="loader-bry"></div>
</div>
<div *ngIf="!loader" class="px-4">
  <div class="row">
    <div class="col-10 item-top">Lista Empresas
    </div>
    <div class="col-2 item-top">
      <button (click)="createOrganization()" class="btn btn-primary btn-new shadow">Nova</button>
    </div>
  </div>
  <div class="shadow">
    <div class="row head-dark shadow" style="padding: 6px;">
      <div class="col-1">id</div>
      <div class="col-3">nome</div>
      <div class="col-2">cnpj</div>
      <div class="col-3">endereco</div>
      <div class="col-3">ações</div>
    </div>
    <div class="row b-list" *ngFor="let organization of organizations ">
      <div class="col-1">{{organization.id}}</div>
      <div class="col-3">{{organization.name}}</div>
      <div class="col-2">{{organization.cnpj}}</div>
      <div class="col-3">{{organization.address}}</div>
      <div class="col-3">
        <button class="btn btn-primary f-10 mr-sm-3" (click)="viewOrganization(organization.id)">Visualizar</button>
        <button class="btn btn-secondary f-10" (click)="deleteOrganization(organization.id)">Excluir</button>
      </div>
    </div>
  </div>
</div>




