<html>
<head>
  <!-- Custom fonts for this template-->
  <link href="../assets/fonts/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<body>
<div *ngIf="loader">axxxsdasdasd</div>
<main class="container-fluid" id="content">
  <div class="row">
    <section id="nav" class="col-2 bg-dark menu-bry ">
      <div class="item-bry" >
        <img src="https://www.bry.com.br/wp-content/uploads/2016/09/logo.png">
      </div>

      <div (click)="routeBry('organizations')" class="item-bry pointer">
        <span>Empresas</span>
      </div>
      <div (click)="routeBry('users')" class="item-bry pointer">
        <span>Usuários</span>
      </div>

    </section>

    <section id="renderer" class="col-10">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>



</body>
</html>
