.menu-bry{
  border-bottom-right-radius: 100%;
  padding: 20px;
  background-image: linear-gradient(180deg,#8f8f8f 10%,#070500 100%);
  height: 800px;
}

.item-bry{
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid #a59f9f;
  color: #fff;
}

.item-bry:hover{
  color: #a59f9f;
}



