<div *ngIf="loader" class="cont-loader">
  <div class="loader-bry"></div>
</div>

<div *ngIf="!loader" class="px-4">
  <div class="row">
    <div class="col-10 item-top">
      <span *ngIf="idOrganization">Perfil Empresa</span>
      <span *ngIf="!idOrganization">Nova Empresa</span>
    </div>
    <div class="col-2 item-top">
      <div *ngIf="idOrganization" class="btn-group">
        <button class="btn btn-secondary mx-2" (click)="deleteOrganization()">Excluir</button>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">

      <form (submit)="saveForm()">
        <div class="row">

          <div class="form-group col-3">
            <label for="organization-name">Nome</label>
            <input name="name" required type="text" class="form-control" [(ngModel)]="organizationForm.name" id="organization-name" placeholder="Nome da Empresa">
          </div>
          <div class="form-group col-3">
            <label for="organization-cnpj">CNPJ</label>
            <input name="cnpj" type="text" class="form-control" [(ngModel)]="organizationForm.cnpj" id="organization-cnpj" placeholder="CNPJ">
          </div>
          <div class="form-group col-3">
            <label for="organization-name">Endereço</label>
            <input name="password" type="text" class="form-control" [(ngModel)]="organizationForm.address" id="organization-address" placeholder="Endereço da Empresa">
          </div>


        </div>

        <div *ngIf="users">
          <hr>
          <div *ngFor="let userOfOrganization of userForm; let i = index" class="row">
            <div class="form-group col-6">
              <label>Usuário</label>
              <ng-select name="{{userForm[i]}}"
                         [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="userForm[i]"

              >
                <ng-option *ngFor="let opt of users" [value]="opt.id">
                  {{opt.name}}
                </ng-option>

              </ng-select>
            </div>
            <div class="col-4 row align-items-center ">
              <div class="btn btn-secondary mx-2 pointer" (click)="addSelectUser()">adicionar</div>
              <div class="btn btn-secondary mx-2 pointer" *ngIf="i > 0" (click)="subSelectUser(i)">remover</div>
            </div>
          </div>
        </div>




        <div class="row justify-content-md-center my-3">
          <div class="btn-group">
            <a [routerLink]="['/organizations']" class="btn btn-secondary mx-2">Voltar</a>
          </div>
          <div class="btn-group">
            <input type="submit" value="Salvar" class="btn btn-primary">
          </div>
        </div>




      </form>

    </div>
  </div>
</div>






