/* You can add global styles to this file, and also import other style files */

body{
  //background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-color: #ececec;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.btn-new{
  font-size: 12px;
  width: 100px;
}
.f-10{
  font-size: 10px;
}
.pointer{
  cursor: pointer;
}

.shadow{
  -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.head-dark{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
  font-size: 1rem;
  border-radius: 5px;
}

.loader-bry{
  background-image: url("assets/img/bry_loader.gif");
  width: 86px;
  height: 62px;
  position: relative;
  top: 50%;
  left: 50%;

}

.cont-loader{
  height: 100%;
}

.b-list{
  color: #343a40;
  background-color: #fff;
  border-bottom: 1px solid #efecec;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
}
.b-list:hover{
  background-color: #ececec;
  border-left: 2px solid #e8ce1887;
}

.label{
  font-size: 12px;
  font-weight: bold;
}

.item-top{
  font-size: 30px;
  padding: 20px;
  color: #343a40;
}
